* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-banner .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #6a786a !important;
}

.home-banner .swiper-pagination-bullet-active {
  background-color: #00b207 !important;
}

.home-banner .swiper-pagination-bullets {
  bottom: -5px !important;
}
